<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833793951077-a8ghrfsrotos6vp3nmqals020qvk7p9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833793951077-a8ghrfsrotos6vp3nmqals020qvk7p9d</string>
	<key>API_KEY</key>
	<string>AIzaSyApvEzfF1kQrCnrY6n_vuVcrj1p8Gikykc</string>
	<key>GCM_SENDER_ID</key>
	<string>833793951077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ml-bench.playdate</string>
	<key>PROJECT_ID</key>
	<string>chatverse-5078d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatverse-5078d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833793951077:ios:131eec1297269805becd8c</string>
	<key>DATABASE_URL</key>
	<string>https://chatverse-5078d-default-rtdb.firebaseio.com</string>
</dict>
</plist>